<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>{{ category.name }}</title>
</head>
<body>
    <h1>{{ category.name }}</h1>

    <div class="submenu">
        {% for subcategory in subcategories %}
            <div class="submenu-item">
                <a href="{% url 'subcategory_detail' subcategory.slug %}">{{ subcategory.name }}</a>
                <div class="subsubmenu">
                    {% for product in subcategory.products %}
                        <div class="subsubmenu-item">
                            <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
