{% extends "products/base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Products{% endblock %}
{% block body %}
<!-- Your template content -->

<div class="container mt-5">
    <div class="owl-carousel border border-2 p-3 rounded-4 owl-theme bg-white shadow">
        {% for product in products %}
            <div class="item rounded-4">
                {% with first_image=product.images.first %}
                    {% if first_image %}
                        <img src="{{ first_image.image.url }}" alt="{{ product.name }}" class="img-fluid mt-3">
                    {% endif %}
                {% endwith %}
                <div class="product-details">
                    <div class="product-name">
                        <small><small><small>{{ product.name_in_list }}</small></small></small>
                    </div>
                </div>
                <button class="btn btn-success">
                    <small>{{ product.price|format_price }}</small> تومان
                </button>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Rest of your template content -->
{% endblock %}
