{% load static %}

<header class="bg-white ">

<nav class="container-fluid">
        <div class="row bg-white">
        <!-- IMG IN NAVBAR -->
            <div class="col-md-2 d-flex justify-content-center mt-lg-3 ">

                <a class=" mt-3 " href="./index.html">
                    <img class="img-fluid me-1" src="https://www.technolife.ir/image/static_technolife-brand.svg" alt="">
                </a>
                <a class="mt-3" href="./index.html">
                    <img class="img-fluid me-1 " src="https://www.technolife.ir/image/static_technolife-title.svg" alt="">

                </a>


            </div>
            <!-- INPUT NAVBAR IN NAVBAR -->
            <div class="col-md-5  mt-3 ">

                    <div class="bg-search d-flex rounded-4 justify-content-start highlighted">
                        <i class="bi bi-search text-secondary px-4 h3 mt-3"></i>
                        <input 
                            type="search" 
                            placeholder= "محصول، برند یا دسته مورد نظرتان را جستجو کنید" 
                            class="noborderfocus px-3 w-100 bg-search border-0  rounded-4" 
                            value=""
                            id="search-input">
                    </div>
                    <div id="search-suggestions">محبوب‌ترین سرچ‌ها</div>
                
            </div>
            <div class="overlay" id="overlay"></div>
            <!-- BARAYE RESPONSIV -->
            <div class="col-md-3"></div>
            <!-- INPUT BUTTON IN NAVBAR -->
            <div class="col-md-2 text-center  mt-3">
                <div class="mt-1 d-flex">
                    <button type="button" class="btn btn-light border border-2 p-2 d-lg-block d-none mx-1">ورود | ثبت نام</button>
                    <button type="button" class="btn btn-light border border-2 p-2 d-lg-block d-none mx-1"><i class="bi bi-bag-check"></i></button>
                    
                </div>

            </div>
    </div>
</nav>

<!-- PAIIN NAVBAR -->

<!-- products/navbar.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          {% for category in categories %}

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ category.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
                {{ category.name }}

              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ category.id }}">

                {% for subcategory in category.subcategories.all %}

                  <a class="dropdown-item" href="{% url 'subcategory_detail' subcategory.slug %}">{{ subcategory.name }}</a>
                
                  {% endfor %}
              </div>
            </li>
            
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  



            {% comment %} {% for category in categories %}
                <div class="col-md-1 menu-item ms-5">{{ category.name }}
                    <div class="submenu">
                        {% for subcategory in category.subcategories.all %}
                            <div class="submenu-item">
                                <a href="{% url 'subcategory_detail' subcategory.slug %}">{{ subcategory.name }}</a>
                                
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %} {% endcomment %}

    
{% comment %} <div class="subsubmenu">
                                    {% for product in subcategory.products.all %}
                                        <div class="subsubmenu-item">
                                            <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                        </div>
                                    {% endfor %}
                                </div> {% endcomment %}

<!-- Fixed bottom options MOBILE -->
<div class="fixed-bottom fixed-bottom-options">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-3  d-md-none d-grid">
                <span class=" text-center">

                    <i class="bi bi-house h3"></i>

                </span>
                <span class=" text-colorforbuy"><small><small>صفحه اصلی</small></small></span>

            </div>
            <div class="col-3 d-md-none d-grid ">
                <span class=" text-center ">

                    <i class="bi bi-ui-checks-grid text-colorforbuyLow  h3"></i>
                </span>
                <span class=" text-colorforbuy"><small><small>محصولات</small></small></span>

            </div>
            <div class="col-3 d-md-none d-grid">
                <span class=" text-center">

                    <i class="bi  bi-cart h3"></i>

                </span>
                <span class=" text-colorforbuy"><small><small>سبدخرید</small></small></span>

            </div>
            <div class="col-3 d-md-none d-grid">
                <span class=" text-center ">

                    <i class="bi bi-person-fill h3"></i>
                
                </span>
                <span class=" text-colorforbuy"><small><small>پروفایل</small></small></span>

            </div>
        </div>
    </div>
</div>


</header>